.App {
  text-align: center;
}

.bgcolor-red {
  background-color: red;
}

.bgcolor-blue {
  background-color: blue;
}

.bgcolor-green {
  background-color: green;
}

.bgcolor-yellow {
  background-color: yellow;
}

.bgcolor-purple {
  background-color: purple;
}

.bgcolor-pink {
  background-color: pink;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container-quote {
  background-color: white;
  color: black;
  width: 50%;
  padding: 1%;
}

.bottom-section {
  display: flex;
  justify-content: space-between;
}

.btn-link {
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.counter-container {
  text-align: center;
}

.mg-2 {
  padding: 1rem;
  margin: 0 1rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 700px){
  .container-quote {
    width: 80%;
  }
}